*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial Black", Gadget, sans-serif;
    align-items: center;
}
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: rgb(51, 51, 51);
}

li {
  float: right;
}
li a {
  display: inline-flex;
  color: white;
  text-align: center;
  padding: 13px 15px;
  text-decoration: none;
}
#nav-bar{
    position: fixed;
}
li a:hover {
  background-color: #111;
}
img {
  float: left;
  width: 5%;
  padding:0;
  margin:0;
}
h1:hover {
    color: rgb(177, 165, 0, 0.795);
    
  }
h3:hover {
    color: rgb(177, 165, 0, 0.795);
  }
#about-us {
    height: 572px;
    max-width: 100vw;
    width: auto;
    background-color: #ffffff;
    color: rgb(201, 201, 201);
    flex-flow: column;
    background-image: url('images1/BLee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    left: 100px;
    top: 150px;
}
#our-style {
    text-align: center;
    height: 500px;
    max-width: 100vw;
    width: auto;
    /*height:auto;*/
    background-color: rgb(124, 49, 49);
    color: #ffffff;
}
#pricing {
    text-align: center;
    height:500px;
    max-width: 100vw;
    width: auto;
    background-color: teal;
    color: #ffffff;
    overflow: scroll;
}
#sign-up {
    text-align: center;
    max-height: 350px;
    color: #ffffff;
    background-color: black;
}
.grid {
    max-width: 450px;
    max-height: 522px;  
    display: inline-block;
    padding-right: 70px;
    padding-top:72px;
}
.T2010 {
    padding: 20px;
}
.tournament {
    padding: 15px;
    text-shadow: 4px 4px 7px black, 0 0 25px rgb(0, 204, 255), 0 0 5px rgba(125, 125, 236, 0.658);
    /*Snippet on how-to-do a text-shadow from W3schools.com: https://www.w3schools.com/css/css3_shadows.asp*/   
    border-radius: 10px;
    text-align: center;
    color: rgba(128, 128, 128, 0.76);
    font-size: 20px;
}
h1 {
    padding-bottom: 23px;
    padding-top: 20px;
}
.price {
    display: inline-flex;
}
.org-left {
    padding-left: 50px;
}
.org-right {
    padding-right: 50px;
}
.full-time{
  max-width: 250px;
  max-height: 275;  
  width: auto;
  height: auto;
  border: 4px solid black;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  flex-flow: column;
  background-color: rgb(113, 238, 238);  
}

.part-time{
  max-width: 250px;
  max-height: 275;  
  width: auto;
  height: auto;
  border: 4px solid black;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  flex-flow: column;
  background-color: rgb(113, 238, 238);
}
iframe {
    max-width: 80vw;
    max-height: 80vw;
}
h3 {
    padding: 20px;
}
footer {
    color:rgba(255, 255, 255, 0.555);
    font-size: 15px;
    padding-top: 20px;
    padding-bottom:-20px
}
